@media only screen and (min-width: 820px){
    .sidebar {
        display: none;
    }

}

@media only screen and (min-width: 768px){
    .sidebar {
        display: none;
    }
    .HeaderCaption {
        font-size: 67px;
    }
    #players {
        font-weight: bold;
        font-size: 50px;
    }
    
    #server-status-text {
        font-size: 50px;
        font-family: "Outfit", sans-serif;
    }
    
    #server-status-image {
        margin-top: 10px;
    }


}

@media only screen and (min-width: 375px){
    .sidebar {
        display: none;
    }
}

@media only screen and (min-width: 360px){
    .sidebar {
        display: none;
    }
}
